<h2>Hi {{ name }},</h2>
<p>Thankyou for choosing SocialMate. To start exploring the app, please confirm your email address.</p>
<p>
    <a style="background-color: green; color: white" href="{{ url }}">Verify your email address</a>
</p>
<p>If you did not request this email you can safely ignore it.</p>
<h1>Regards</h1>
<h2>SocialMate</h2>
